<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.touchteach.touchteach">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 2 bar tarif shode bod -->
        <!-- <activity android:name=".DashBoard" /> -->
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DashBoard"
            android:label="@string/title_activity_dash_board"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".EditProfile"
            android:parentActivityName=".DashBoard"/>
        <activity
            android:name=".ClassSearch"
            android:label="@string/title_activity_class_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RequestClasses" />
        <activity android:name=".CreateClassActivity"
            android:parentActivityName=".DashBoard"/>
        <activity android:name=".CreateClassTimeTableActivity"
            android:parentActivityName=".CreateClassActivity"/>
    </application>

</manifest>